*{
	box-sizing: border-box;
}

.clearfix{
	display: table;
	content: '';
	clear:both;
}

body, html, main{
	font-size: 22px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	color: #D7D6D7;
	height:100%;
}

h1, h2, h3{
	font-family: 'Teko', Arial, Helvetica, sans-serif;
}

header{
	background: url(../img/background.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	min-height: 700px;
}

.container{
	margin: 0 auto;
	text-align: center;
	width:60%;
	min-width: 768px;
}

.line {
	border-top: 1px solid #ada7ae;
	top: -4px;
	position:relative;
	clear:both;
}

.logo{
	float: left;
}

.navigation{
	float: right;
	padding-top: 25px;
}

.navigation li{
	float: left;
	font-size: 16px;
	font-weight: 400;
	margin: 0 20px;
}

li.active a{
	border-bottom: 5px solid #fff;
	color: #fff;
	padding-bottom: 20px;
}

.navigation a{
	text-decoration: none;
	color: #a19da0;
}

.hero{
	margin-top: 10%;
}

/*section.hero nav{
	position: relative;
	bottom: 0px;
}*/

section.hero ul{
	margin: 7% auto;

}

section.hero li{
	border-bottom: 4px solid #fff;
	margin: 3px;
	width: 40px;
	float: left;
	opacity: .3;
	cursor: pointer;
}

section.hero li.active{
	opacity:1;
}

.title{
	clear:both;
	text-align: center;
}

.hero_title{
	font-size: 90px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 9px;
	font-weight: 300;
	margin-bottom: 4%;
}

div.title p{
	line-height: 30px;
	width: 80%;
	margin: 0 auto;
	color: #D7D6D7;
	opacity: .7;
}

.button{
	display:inline-block;
	margin-top: 5%;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-family: 'Teko', Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	background-color: #fff;
	text-align: center;
	padding:20px 55px;
}

.button:hover{
	background-color: #ccc;
	 -webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
  	transition: all 0.3s ease-out; 
}

section.work{
	color: #000;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	letter-spacing: 3px;
	margin: 60px auto 0 auto;
}

section h2 {
	margin-bottom: 30px;
}

article {
	display:inline-block;
	margin:14px;
	width: 48%;
}

article h3{
	font-size: 30px;
	margin: 20px auto 10px auto;
}

article p{
	font-size: 14px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	color: #555555;
	text-transform: none;
	letter-spacing: 0;
	width: 60%;
	margin: 0 auto;
	line-height: 1.5em;
}

/*article:nth-child(odd){
	float:right;
}

article:nth-child(even) {
	float:left;
}*/

article img{
	max-width: 100%;
}

.show_more{
	margin:45px auto;
}

.show_more a{
	font-family: 'Teko', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #F43435;
	text-decoration: none;
	border-bottom: 3px solid #F43435;
}

.cta {
	width: 100%;
	padding: 50px;
	background-color: #F43435;
	text-align: center;
	color: #fff;
}

.cta h2{
	font-weight: 300;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 5px;
}

.cta p{
	font-size: 16px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #fff;
}

.cta a.button{
	margin-top: 30px;
}

.contact {
	background-color: #fafafa;
}

.contact div {
	margin-top: 50px;
	text-align: left;
}

section.contact h2{
	color: #000;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 3px;
	margin-bottom: 5px;
}

section.contact p{
	font-size: 16px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #6D6D6D;
	margin-bottom: 60px;
}

.social {
	text-align: justify;
	min-width: 837px;
}

.social li{
	display: inline-block;
	background-color: #2A2425;
	font-size: 1em;
	font-family: 'Teko', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	padding: 40px 65px;
	width: 23%;
/*	padding: 40px 47px;
	font-size: 1em;
	font-family: 'Teko', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-right: 10px;
	width: 23%;
*/
}

.social a{
	text-decoration: none;
	color: #fff;
}

.social i{
	margin-bottom: 15px;
	display: block;
	font-size: 1.5em;
	text-align: center;
}

.social:after, .social:before {
  content: '';
  width: 100%;  /*Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.copyright{
	margin-top: 23px;
	margin-bottom: 35px;
	text-align: left;
	font-size: 12px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #6D6D6D; 
}












