* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

.clearfix,
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-family: "BrandonGrotesque", Helvetica, sans-serif;
  font-size: 16px; }

body {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100vw; }

h2 {
  font-size: 4.4em; }

h3 {
  font-size: 2.4em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.6em;
  font-weight: 500;
  text-transform: uppercase; }

p {
  font-size: 2em; }

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: normal;
  font-size: 1.5em; }

input {
  max-width: 200px;
  width: 33%;
  min-width: 100px; }

.wrapper {
  width: 85%;
  margin: 0 auto;
  min-width: 768px;
  overflow-x: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.fade {
  opacity: 0.5; }

.right_hide {
  right: -300px; }

.right_show {
  right: 0; }

.left_show {
  left: 0; }

header {
  height: 300px;
  width: 100%;
  background: rgba(36, 93, 153, 0.7);
  position: relative; }
  header:before {
    content: "";
    height: 300px;
    width: 100%;
    background: url("../img/office1.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background: linear-gradient;
    display: block;
    position: absolute;
    z-index: -1; }
  header nav {
    background: #3fc9d6; }
    header nav ul {
      height: 56px;
      position: relative; }
      header nav ul li {
        display: inline-block;
        margin-right: 50px;
        position: relative;
        top: 50%;
        float: left;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      header nav ul .checkout {
        float: right;
        margin-right: 0; }

.fa-bars {
  display: none; }

.rec_nest {
  text-align: left;
  background: none; }
  .rec_nest ul {
    background: #0495f5;
    margin: 0 auto;
    display: inline-block; }
    .rec_nest ul li {
      margin: 0 25px;
      padding: 5px 0; }

.rec_nest_small {
  display: none; }

.top_bar {
  display: block;
  height: 120px;
  margin-bottom: 25px; }
  .top_bar .logo {
    font-size: 4em;
    font-weight: 500;
    color: #fff;
    position: relative;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    float: left; }
  .top_bar ul {
    position: relative;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    float: right; }
    .top_bar ul li {
      display: inline-block; }
    .top_bar ul li:nth-of-type(2) {
      border: 1px solid #fff;
      padding: 15px;
      border-radius: 30px;
      margin-left: 50px; }

.selected_line {
  border-bottom: 1px solid #fff; }

.selected_tri:before {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #0495f5;
  position: absolute;
  left: 50%;
  top: 100%;
  -moz-transform: translate(-50%, 10%);
  -o-transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  -webkit-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%); }

body > section {
  position: relative; }
  body > section h2 {
    text-transform: uppercase;
    margin: 30px 0;
    letter-spacing: .05em; }

.sum_inv {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .sum_inv > h4,
  .sum_inv section > h4 {
    background-color: #ccc;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    position: relative;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .sum_inv section > h4 {
    cursor: pointer; }

.fa {
  position: absolute;
  right: 10px; }

section h4.sum_inv_selected {
  background-color: #f2f2f2;
  border-left: 4px solid #0495f5; }
  section h4.sum_inv_selected .fa {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.arrow_rotate_up {
  -webkit-animation: arrow_rotate_up 2s forwards;
  animation: arrow_rotate_up 2s forwards; }

@keyframes arrow_rotate_up {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
@-webkit-keyframes arrow_rotate_up {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }
.arrow_rotate_down {
  -webkit-animation: arrow_rotate_down 2s forwards;
  animation: arrow_rotate_down 2s forwards; }

@keyframes arrow_rotate_down {
  0% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes arrow_rotate_down {
  0% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
.aside_content,
.things_consider {
  background-color: #e6e6e6;
  padding: 20px; }
  .aside_content h4,
  .things_consider h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .aside_content ul,
  .things_consider ul {
    list-style: initial;
    margin-bottom: 35px; }
    .aside_content ul li,
    .things_consider ul li {
      font-size: 1.6em;
      margin: 5px 20px;
      line-height: 1.5em; }
      .aside_content ul li ul li,
      .things_consider ul li ul li {
        font-size: inherit;
        list-style: circle; }
        .aside_content ul li ul li a,
        .things_consider ul li ul li a {
          font-size: inherit;
          text-transform: none;
          color: #0495f5;
          letter-spacing: normal; }

.things_consider {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 20%;
  position: absolute; }
  .things_consider h4 {
    margin-bottom: 20px; }

aside {
  width: 25%; }

.block {
  width: 60%;
  background: #f2f2f2;
  margin-bottom: 30px;
  padding: 30px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .block figure:nth-of-type(n+2) {
    margin-top: 50px; }
  .block figure figcaption {
    font-size: 2em;
    margin-bottom: 10px; }
  .block figure img {
    width: 100%;
    height: auto; }
  .block h3 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 25px; }

input[placeholder] {
  font-family: inherit;
  font-size: 1.6em;
  padding: 10px 0 10px 10px; }

span {
  font-size: 1.6em;
  margin-left: 10px; }

i {
  font-style: italic;
  font-size: 1.6em;
  line-height: 1.5em;
  display: block; }

.fa-lightbulb-o,
.fa-list-alt {
  display: none; }

.yn_buttons > button {
  display: inline-block;
  width: 200px;
  border: none;
  background: #0495f5;
  height: 50px;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8em;
  margin: 30px 0;
  cursor: pointer; }
  .yn_buttons > button:nth-of-type(1) {
    margin-right: 20px; }
  .yn_buttons > button:focus {
    outline: none; }

.question {
  margin-bottom: 40px; }
  .question p {
    margin-bottom: 10px;
    line-height: 1.5em;
    width: 75%; }
  .question form ul {
    margin-top: 0; }
    .question form ul li {
      font-size: 2em;
      margin: 20px 0;
      text-align: right;
      position: relative;
      display: block; }
      .question form ul li:nth-of-type(1) {
        margin-top: 0; }
      .question form ul li label {
        cursor: pointer;
        position: absolute;
        left: 50px;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        .question form ul li label:before {
          content: "";
          width: 15px;
          height: 15px;
          background-color: #fff;
          display: inline-block;
          margin-right: 15px; }

.add_another {
  display: inline-block;
  width: 200px;
  border: none;
  background: #0495f5;
  height: 50px;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin-top: 15px; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + label:after {
    content: "";
    width: 15px;
    height: 7px;
    background: transparent;
    border: 3px solid #0495f5;
    border-top: none;
    border-right: none;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: 0; }

input[name="qty"],
input[name="sq_ft"] {
  height: 50px;
  font-family: inherit;
  font-size: 16px; }

input[name="sq_ft"] {
  margin-left: 5px;
  float: right; }

input[name="other"] {
  display: inline-block;
  height: 50px; }

.question label[for="others"] {
  display: block;
  float: left;
  position: relative;
  float: left;
  margin-top: 20px; }

.other_selected {
  clear: both;
  display: none;
  margin: 10px 0; }

.add_another {
  display: none; }

.span_units {
  text-align: right; }
  .span_units span {
    max-width: 200px;
    width: 33%;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px; }

.budget_range {
  position: relative; }
  .budget_range input {
    margin-bottom: 20px; }
    .budget_range input:nth-of-type(1) {
      clear: right; }
  .budget_range span {
    width: 50px;
    display: inline-block; }

input[placeholder="MM/DD/YYYY"] {
  font-family: inherit;
  font-size: 1.6em;
  padding: 10px 0 10px 10px;
  text-transform: uppercase; }

input[type="text"] {
  font-family: inherit;
  font-size: 16px; }

.headcount,
.space_types,
.fill_spaces {
  position: relative; }
  .headcount .block,
  .space_types .block,
  .fill_spaces .block {
    width: 50%;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 22.5%; }
    .headcount .block ul li,
    .space_types .block ul li,
    .fill_spaces .block ul li {
      text-align: left;
      display: block;
      margin: 10px 0;
      position: relative; }
      .headcount .block ul li p,
      .space_types .block ul li p,
      .fill_spaces .block ul li p {
        width: 60%;
        display: inline-block;
        position: absolute;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: right; }
      .headcount .block ul li form,
      .space_types .block ul li form,
      .fill_spaces .block ul li form {
        display: inline-block;
        float: right;
        vertical-align: middle;
        width: 33%; }
        .headcount .block ul li form input,
        .space_types .block ul li form input,
        .fill_spaces .block ul li form input {
          font-size: 16px;
          width: 100%; }
  .headcount .bottom_buttons,
  .space_types .bottom_buttons,
  .fill_spaces .bottom_buttons {
    width: 72.5%; }

.space_types .block h3,
.fill_spaces .block h3 {
  line-height: 1.5em; }
.space_types .block > ul input,
.fill_spaces .block > ul input {
  height: 50px;
  font-family: inherit; }
.space_types .block .span_units span,
.fill_spaces .block .span_units span {
  max-width: 200px;
  width: 25%;
  min-width: 100px; }
.space_types .block .span_units li,
.fill_spaces .block .span_units li {
  text-align: right; }
  .space_types .block .span_units li p,
  .space_types .block .span_units li label[for="others"],
  .fill_spaces .block .span_units li p,
  .fill_spaces .block .span_units li label[for="others"] {
    position: relative;
    font-size: 20px;
    width: 200px;
    top: 0;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    left: 0;
    margin-right: 10px; }
  .space_types .block .span_units li label[for="others"],
  .fill_spaces .block .span_units li label[for="others"] {
    margin-top: 0;
    width: auto;
    margin-right: 0;
    float: none;
    position: relative;
    display: inline-block; }
  .space_types .block .span_units li .other_selected,
  .fill_spaces .block .span_units li .other_selected {
    margin-top: 10px; }
  .space_types .block .span_units li input,
  .fill_spaces .block .span_units li input {
    max-width: 200px;
    width: 25%;
    min-width: 100px; }

.fill_spaces .block:nth-of-type(1) ul li {
  margin: 30px 0; }

.fill_spaces .block h3 {
  margin-bottom: 15px; }
.fill_spaces .block p {
  line-height: 1.5em; }
.fill_spaces .block ul li.others {
  text-align: right; }
.fill_spaces .block ul li p {
  font-size: 1.8em; }
.fill_spaces .block ul li label[for="others"] {
  position: relative;
  font-size: 20px;
  width: 200px;
  top: 0;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  left: 0;
  margin-right: 0; }
.fill_spaces .block ul li label[for="others"] {
  margin-top: 0;
  width: auto;
  margin-left: 130px; }
  .fill_spaces .block ul li label[for="others"]:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    margin-right: 15px; }
.fill_spaces .block ul li .other_selected {
  margin-top: 10px; }
.fill_spaces .block ul li input {
  width: 150px; }
.fill_spaces .block form {
  text-align: center;
  display: block;
  background-color: #fff; }
  .fill_spaces .block form p {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 1.6em;
    margin-bottom: 0; }
    .fill_spaces .block form p:first-child {
      float: left; }
    .fill_spaces .block form p:last-child {
      float: right; }
  .fill_spaces .block form input[type="range"] {
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    width: 50%; }

table {
  display: block;
  margin: 20px auto;
  font-size: 1.6em;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center; }
  table tr td,
  table tr th {
    height: 30px;
    vertical-align: middle;
    width: 33.33%; }
  table tr:first-child {
    background-color: #ccc; }

.bottom_buttons {
  width: 60%;
  text-align: right; }

.save_exit {
  color: #000;
  padding: 10px;
  border-bottom: 1px solid #000;
  display: inline-block; }

.next {
  display: inline-block;
  width: 150px;
  border: none;
  background: #0495f5;
  height: 50px;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
  margin-left: 20px;
  text-align: center;
  line-height: 47px; }

footer {
  height: 100px; }

@media screen and (max-width: 1400px) {
  .rec_nest {
    text-align: center; }

  .fill_spaces .block:nth-of-type(1) ul li {
    margin: 50px 0; }
    .fill_spaces .block:nth-of-type(1) ul li p {
      line-height: normal; }
    .fill_spaces .block:nth-of-type(1) ul li form {
      text-align: top; } }
@media screen and (max-width: 1315px) {
  input {
    width: 25%; }

  input[type="date"] {
    font-size: 1.4em;
    min-width: 155px; }

  .span_units span {
    width: 25%;
    min-width: 0; } }
@media screen and (max-width: 1180px) {
  .space_types .block .span_units li p {
    width: 30%;
    line-height: normal;
    margin-bottom: 0; }
  .space_types .block .span_units li input {
    vertical-align: top; } }
@media screen and (max-width: 1150px) {
  .span_units input[name="qty"],
  .span_units input[name="sq_ft"] {
    width: 25%;
    min-width: 0px; }

  input[type="number"] {
    min-width: 130px; } }
@media screen and (max-width: 960px) {
  .wrapper {
    width: 95%; }

  .fa-lightbulb-o,
  .fa-list-alt {
    display: inline-block;
    cursor: pointer; }

  input[placeholder] {
    font-size: 14px; }

  .sum_inv,
  .things_consider {
    width: 30%;
    position: absolute;
    text-align: left;
    z-index: 10;
    min-width: 250px; }

  .left_hide {
    left: -300px; }

  .things_consider {
    box-shadow: 4px 0 4px 0px #bbb; }

  .sum_inv {
    box-shadow: -4px 0 4px 0px #bbb; }

  .rec_nest ul li {
    margin: 0 20px; }
    .rec_nest ul li a {
      font-size: 1.4em; }

  body > section,
  .headcount,
  .space_types,
  .fill_spaces {
    text-align: center; }
    body > section > h2,
    .headcount > h2,
    .space_types > h2,
    .fill_spaces > h2 {
      text-align: center;
      position: relative;
      font-size: 3.6em; }
      body > section > h2 .fa-lightbulb-o,
      .headcount > h2 .fa-lightbulb-o,
      .space_types > h2 .fa-lightbulb-o,
      .fill_spaces > h2 .fa-lightbulb-o {
        left: 0;
        position: absolute;
        margin-left: 10%;
        right: auto; }
      body > section > h2 .fa-list-alt,
      .headcount > h2 .fa-list-alt,
      .space_types > h2 .fa-list-alt,
      .fill_spaces > h2 .fa-list-alt {
        right: 0;
        position: absolute;
        margin-right: 10%; }
    body > section .block,
    .headcount .block,
    .space_types .block,
    .fill_spaces .block {
      width: 80%;
      margin: auto;
      text-align: left;
      margin-bottom: 30px; }

  .yn_buttons button {
    width: 45%; }

  .bottom_buttons {
    margin-top: 30px; }

  .sum_inv section > h4 {
    font-size: 1.4em; }

  .bottom_buttons {
    width: 65%; } }
@media screen and (max-width: 768px) {
  .wrapper {
    min-width: 480px; }

  .top_bar {
    margin-bottom: 0; }

  header {
    height: 200px; }
    header:before {
      height: 200px; }

  header > nav {
    display: none;
    margin-left: 50px;
    z-index: 20;
    position: relative;
    width: 360px; }
    header > nav .wrapper {
      min-width: 320px; }
      header > nav .wrapper ul {
        display: inline-block;
        height: auto; }
        header > nav .wrapper ul li {
          display: block;
          float: none;
          top: 0%;
          -moz-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
          margin: 20px;
          position: relative; }

  .selected_tri:before {
    content: none; }
  .selected_tri > a {
    color: #0495f5; }

  .rec_nest {
    display: none; }
    .rec_nest li {
      top: 0%;
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      display: inline-block; }

  header .wrapper .rec_nest_small {
    display: block;
    background-color: #0495f5;
    position: relative;
    left: -10px;
    margin-top: 10px; }
    header .wrapper .rec_nest_small ul {
      text-align: center;
      display: block;
      padding: 10px 0; }
      header .wrapper .rec_nest_small ul li {
        display: block;
        margin: 20px; }

  .selected_line {
    background-color: #fff;
    height: 3em;
    line-height: 3em; }
    .selected_line a {
      color: #0495f5; }

  .fa-bars {
    display: inline-block;
    color: #fff;
    font-size: 3em;
    left: 0px;
    right: auto;
    background-color: #0495f5;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer; }

  .headcount .bottom_buttons,
  .space_types .bottom_buttons,
  .fill_spaces .bottom_buttons {
    display: block;
    text-align: center;
    width: 100%; }
  .headcount .block .span_units li p,
  .space_types .block .span_units li p,
  .fill_spaces .block .span_units li p {
    width: 160px; }

  .bottom_buttons {
    display: block;
    text-align: center;
    width: 100%; } }
@media screen and (max-width: 600px) {
  html {
    font-size: 14px; }

  body > section .block {
    margin-bottom: 30px; }

  body > section > h2 {
    font-size: 3em; }

  .headcount .block .span_units li p,
  .space_types .block .span_units li p,
  .fill_spaces .block .span_units li p {
    width: 100px; }

  .question form ul li label {
    left: 0; } }
@media screen and (max-width: 550px) {
  body > section > h2,
  .headcount > h2,
  .space_types > h2,
  .fill_spaces > h2 {
    font-size: 3em; }

  .fill_spaces .block:nth-of-type(1) ul li {
    margin: 50px 0; } }
@media screen and (max-width: 480px) {
  .wrapper {
    min-width: 320px; }

  .top_bar .logo {
    font-size: 2.5em; }

  .top_bar ul li:nth-of-type(2) {
    margin-left: 5px; }

  body > section .block,
  .headcount .block,
  .space_types .block,
  .fill_spaces .block {
    width: 95%; } }

/*# sourceMappingURL=style.css.map */
